/*-------------------------------
GENERAL
--------------------------------*/

* {
  box-sizing: border-box;
}

body, html {
  /*background-color: #34515E;
  background-color: rgb(1, 45, 65);
  font-family: 'Open Sans Condensed', sans-serif;*/
  background-color: rgb(164, 164, 164);
  background-color: rgb(1, 45, 65);
  font-size: 16px;
}

.container-fluid {
  /*background-color: rgb(164, 164, 164);*/
  background-color: rgb(164, 164, 164);
  /*padding-top: 75px;*/
  background-color: rgb(1, 45, 65);
}

/*-------------------------------
login-box
--------------------------------*/

.login-box {
  /*background-color: rgb(1, 45, 65);*/
  background-color: rgb(1, 45, 65);
  padding-top: 20px;
  padding-bottom: 5px;
  padding: 70px;
}

header {
  text-align: center;
  background-color: white;
  color: white;
  margin: 0;
  padding: 0;
}

.login-logo {
  padding: 30px;

}

.login-logo img {
  /*background-color: white;*/
  display: block;
  margin: 0 auto;
  filter: invert(100%);
}


/*-------------------------------
FORM
--------------------------------*/

.register-form {
  font-size: 16px;
}

.btn-default {
  color: #333;
  border-color: #ccc;
}

.regbutton {
  height: 50px;
  background-color: rgb(249, 93, 26);
  /*width: 200px;*/
  border-radius: 0px;
  color: white;
  border: none !important;
  margin-bottom: 5px;
}

.regbutton:hover {
  color: white;
  background-color: #aa422f;
}

.regbutton:active {
  color: white;
  background-color: #aa422f;
}

.logbutton {
  height: 50px;
  /*width: 200px;*/
  background-color: yellowgreen;
  border-radius: 0px;
  color: white;
  border: none !important;
  margin-bottom: 5px;
}

.logbutton:hover {
  color: white;
  background-color: darkolivegreen;
}

.logbutton:active {
  color: white;
  background-color: darkolivegreen;
}

.register-form label {
  color: aliceblue;
}

.register-form input {
  margin-bottom: 7px;
  height: 35px;
  border-radius: 0px;
}
