
* {
  box-sizing: border-box;
  
}

.container .titulo{
width: 30px;
}

.titulo {
  height: 50px;
  margin: 30px;
  font-size: 30px;
  text-align: center;
  background-color: #4dd0e1;
}

.fila-titulo {
  height: 50px;
  padding: 10px;
}

.filas {
height: 35px;

}

.grid-container {
margin-left: 10%;
}

.ritz .waffle a {
  color: inherit;
}

b {
  font-size: 18px;
  color: red;
}

.ritz .waffle .s0 {
  background-color: #4dd0e1;
  text-align: left;
  color: #000000;
  font-family: 'Arial';
  font-size: 10pt;
  vertical-align: bottom;
  white-space: nowrap;
  direction: ltr;
  padding: 2px 3px 2px 3px;
}

.ritz .waffle .s4 {
  background-color: #ffffff;
  text-align: right;
  color: #000000;
  font-family: 'Arial';
  font-size: 10pt;
  vertical-align: bottom;
  white-space: nowrap;
  direction: ltr;
  padding: 2px 3px 2px 3px;
}

.ritz .waffle .s1 {
  background-color: #e0f7fa;
  text-align: left;
  color: #000000;
  font-size: 10pt;
  vertical-align: bottom;
  white-space: nowrap;
  direction: ltr;
  padding: 2px 3px 2px 3px;
}

.ritz .waffle .s2 {
  background-color: #e0f7fa;
  text-align: right;
  color: #000000;
  font-family: 'Arial';
  font-size: 10pt;
  vertical-align: bottom;
  white-space: nowrap;
  direction: ltr;
  padding: 2px 3px 2px 3px;
}

.ritz .waffle .s3 {
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-family: 'Arial';
  font-size: 10pt;
  vertical-align: bottom;
  white-space: nowrap;
  direction: ltr;
  padding: 2px 3px 2px 3px;
