

header, section, footer, aside, nav, article, figure, figcaption,
hgroup{
display: block;
}

ol {
font-size: 12px;

}

body {
background-color: springgreen;
font-family: Helvetica;
text-align: left;
}

h1 {
font: bold 22px verdana, sans-serif;
}

#main {
width: 80%;
max-width: 870px;
border: 1px gray solid;
margin: auto;
padding: 20px;
background-color: white;
border-radius: 10px;
}

#header {
margin-top: 0;
border: 2px solid black;
padding: 5px;
height: 300px;
background: beige;
background-image: url("intro.jpg");
color: white;
}

figcaption {
margin: 0px;
padding: 10px;
font: italic 14px verdana, sans-serif;
color: #088A68;
}


<!-- comentarios/ recordar que el nombre de las variables despues tienen que ser sumados -->


#menu li {
display: inline-block;
list-style: none;
padding: 10px;
font: bold 14px verdana, sans-serif;
}

#columna {
float: left;
width: 220px;
margin: 20px 0px;
padding: 20px;
background: #CCCCCC;
}

#pie {
clear: both;
text-align: center;
padding: 20px;
border-top: 2px solid #999999;
}

article {
background: #FFFBCC;
border: 1px solid #999999;
padding: 20px;
margin-bottom: 15px;
}
article footer {
text-align: right;
}
time {
color: #999999;
}
