/*GENERALES-------------------
*/


* {
  box-sizing: border-box;
}

*/
body {
	color: #f7f7f7;
	font-family: 'Montserrat', sans-serif;
  /*background-color: rgb(167, 249, 15);*/
}


/*GENERALES-------------------
*/

.navbar-header {
  height: 80px;
}

.navbar-header img {
  width: 50px;
}

.navbar-custom {
    background-color:rgb(15, 82, 152);
    color:#ffffff;
    border-radius:0;
}

.navbar-custom .navbar-nav > li > a {
    color:#fff;
}

.navbar-custom .navbar-nav > .active > a {
    color: #ffffff;
    background-color:rgb(15, 82, 152);
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus,
.navbar-custom .navbar-nav > .open >a {
    text-decoration: none;
    background-color: rgb(15, 82, 152);
}

.navbar-custom .navbar-brand {
    color:#eeeeee;
}
.navbar-custom .navbar-toggle {
    background-color:#eeeeee;
}
.navbar-custom .icon-bar {
    background-color:rgb(15, 82, 152);
}


/* for dropdowns only */
.navbar-custom .navbar-nav .dropdown-menu  {
  background-color: rgb(15, 82, 152);
}
.navbar-custom .navbar-nav .dropdown-menu>li>a  {
  color: #fff;
}
.navbar-custom .navbar-nav .dropdown-menu>li>a:hover,.navbar-custom .navbar-nav .dropdown-menu>li>a:focus  {
  background-color: rgb(15, 82, 152);
}

.navbar {
	margin-bottom: 0;
  background-color: rgb(15,82,152);
}

.navbar:hover li {
  background-color: rgb(9, 94, 184);
}

/*MBIBLIO MOVIMIENTO--------------------
*/
*
@import url(https://fonts.googleapis.com/css?family=Montserrat);

html, body{
  height: 100%;
  font-weight: 800;
}


svg {
    display: block;
    font: 10.5em 'Montserrat';
    width: 100%;
    height: 600px; /*tamaño del texto en movimiento*/
    margin: 0 auto;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
    stroke: #4D163D;
	animation-delay: -1;
}

.text-copy:nth-child(2){
	stroke: #840037;
	animation-delay: -2s;
}

.text-copy:nth-child(3){
	stroke: #BD0034;
	animation-delay: -3s;
}

.text-copy:nth-child(4){
	stroke: #BD0034;
	animation-delay: -4s;
}

.text-copy:nth-child(5){
	stroke: #FDB731;
	animation-delay: -5s;
}

@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}

.container { /*contanedor de bibliomovil*/
height: 500px;
width: 100%;
background-color: rgb(53, 213, 74);
}

/* BIBLIOMOVIL CON MOVIMIENTO */

/*CONTENEDORES--------------------
*/

/*¿Que es el Bibliomovil--------------------
*/
.uno {
  background-color: rgb(97, 198, 43);
  height: 800px;
  padding: 30px;
}

.uno img {
  width: 100%;
  margin-top: 20px;
}

h1 {
background-color: rgb(250, 250, 250);
text-align: center;
padding: 20px;
color: white;
}

p {
	font-size: 16px;
	color: #fffafa;
  line-height: 30px;
  width: 700px;
  text-align: justify;

}

/*¿Que es el Bibliomovil--------------------
*/

/*SERVICIOS--------------------
*/

.dos  {
  background-color: rgb(93, 73, 249);
  padding: 30px;
  color: blue;
  text-align: justify;
}

h2 {
text-align: center;
padding: 20px;
color: white;
}

.dos img {
  border-radius: 50%;
  width: 100px;
  float: left;
}

.circulos {
height: 150PX;
  background-color: rgb(206, 235, 29);
}


.parlamentario {
  background-color: rgb(40, 16, 231);
  height: 350px;
  padding: 30px;
  margin-top: 25px;
  overflow:hidden;
}

p {
	font-size: 16px;
	color: #fffafa;
  line-height: 30px;
  width: 700px;
  text-align: justify;

}

/*SERVICIOS--------------------
*/


.tres {
  background-color: rgb(10, 147, 114);
  color: white;
  height: 1000px;
}
/*CONTENEDORES--------------------
*/


.jumbotron {
	background-color: #27A967;
	color: white;
	text-align: center;
}
.jumbotron p {
	color: white;
	font-size: 26px;
}
